<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Private event</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Tera&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/event.css">
  </head>
  <body>
    <form class="container" action="/home/private_event" method="post">

      <h1 style="text-align:center;">Private event</h1>
      <hr>

      <label for="title">Title:</label><br><br>
      <input required type="text" name="title" id="title" value="<%=event.title%>"><br><br>

      <label  for="description">Description:</label><br><br>
      <textarea  required type="text" name="description" id="description" cols="35" ><%=event.description%></textarea><br><br>

      <label for="markdown">Content:</label><br><br>
      <textarea  required type="text" name="content" id="markdown" cols="80" ><%=event.content%></textarea><br><br>

      <% users.forEach((user, i) => { %>
       <div style="margin-bottom:20px;">

         <input type="checkbox" id="check" name=i  value=<%=user.id%> />
         <label for="check" class="contain"><%=user.name%></label>
       </div>
      <% }) %>


      <button type="submit" name="button">Save</button>
      <a href="/home">Cancel</a>


    </form>



  </body>
</html>
